.test1 {
	-webkit-background-clip: border;
	-moz-background-clip: border;
	background-clip: border-box;
}

.test2 {
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.test3 {
	background-clip: content-box;
}