/* url */
.test1 {
    background-image: url("test.png");
}

/* linear gradient */
.test2 {
    background-image: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
}

.test3 {
    background-image: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
}

.test4 {
    background-image: -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
}

.test5 {
    background-image: -ms-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
}

.test6 {
    background-image: -o-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
}

.test7 {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
}

/* radial gradient */
.test8 {
    background-image: radial-gradient(ellipse at center, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
}

.test9 {
    background-image: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
}

.test10 {
    background-image: -moz-radial-gradient(center, ellipse cover, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
}

.test11 {
    background-image: -ms-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
}

.test12 {
    background-image: -o-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 12+ */
}

.test13 {
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
}

/* repeating linear gradient */
.test14 {
  background-image: repeating-linear-gradient(to right, #1e5799 0%,#2989d8 5%,#207cca 7%,#7db9e8 10%); /* W3C */
}

.test15 {
    background-image: -webkit-repeating-linear-gradient(left, #1e5799 0%,#2989d8 5%,#207cca 7%,#7db9e8 10%); /* Chrome10+,Safari5.1+ */
}

.test16 {
    background-image: -moz-repeating-linear-gradient(left, #1e5799 0%, #2989d8 5%, #207cca 7%, #7db9e8 10%); /* FF3.6+ */
}

.test17 {
    background-image: -ms-repeating-linear-gradient(left, #1e5799 0%,#2989d8 5%,#207cca 7%,#7db9e8 10%); /* IE10+ */
}

.test18 {
    background-image: -o-repeating-linear-gradient(left, #1e5799 0%,#2989d8 5%,#207cca 7%,#7db9e8 10%); /* Opera 11.10+ */
}

/* repeating radial gradient */
.test19 {
    background-image: repeating-radial-gradient(ellipse at center, #1e5799 0%,#2989d8 5%,#207cca 7%,#7db9e8 10%); /* W3C */
}

.test20 {
    background-image: -webkit-repeating-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 5%,#207cca 7%,#7db9e8 10%); /* Chrome10+,Safari5.1+ */
}

.test21 {
    background-image: -moz-repeating-radial-gradient(center, ellipse cover, #1e5799 0%, #2989d8 5%, #207cca 7%, #7db9e8 10%); /* FF3.6+ */
}

.test22 {
    background-image: -ms-repeating-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 5%,#207cca 7%,#7db9e8 10%); /* IE10+ */
}

.test23 {
    background-image: -o-repeating-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 5%,#207cca 7%,#7db9e8 10%); /* Opera 12+ */
}

/* svg */
/* canvas drawing */

/* multilayer */
.test24 {
    background-image: url("test.png"),
                      linear-gradient(to right, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%),
                      -webkit-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%),
                      -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%),
                      -ms-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%),
                      -o-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%),
                      -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)),
                      radial-gradient(ellipse at center, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%),
                      -webkit-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%),
                      -moz-radial-gradient(center, ellipse cover, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%),
                      -ms-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%),
                      -o-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%),
                      -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
}