.test1 {
	-webkit-background-origin: border;
	-moz-background-origin: border;
	background-origin: border-box;
}

.test2 {
	-webkit-background-origin: padding;
	-moz-background-origin: padding;
	background-origin: padding-box;
}

.test3 {
	-webkit-background-origin: content;
	background-origin: content-box;
}