.test1 {
	-moz-box-shadow: 3px 3px 5px black;
	-webkit-box-shadow: 3px 3px 5px black;
	box-shadow: 3px 3px 5px black;
}

.test2 {
	-moz-box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;
	-webkit-box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;
	box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;
}

.test3 {
	-moz-box-shadow: 0 0 20px black, 20px 15px 30px yellow, -20px 15px 30px lime, -20px -15px 30px blue, 20px -15px 30px red;
	-webkit-box-shadow: 0 0 20px black, 20px 15px 30px yellow, -20px 15px 30px lime, -20px -15px 30px blue, 20px -15px 30px red;
	box-shadow: 0 0 20px black, 20px 15px 30px yellow, -20px 15px 30px lime, -20px -15px 30px blue, 20px -15px 30px red;
}