.test1 {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.test2 {
	-moz-box-sizing: padding-box;
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
}

.test3 {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}