.test1 {
	-webkit-break-after: auto ;
	-ms-break-after: auto ;
	break-after: auto ;
}

.test2 {
	-webkit-break-after: always ;
	-ms-break-after: always ;
	break-after: always ;
}

.test3 {
	-webkit-break-after: avoid ;
	-ms-break-after: avoid ;
	break-after: avoid ;
}

.test4 {
	-webkit-break-after: left;
	-ms-break-after: left;
	break-after: left;
}

.test5 {
	-webkit-break-after: right ;
	-ms-break-after: right ;
	break-after: right ;
}

.test6 {
	-webkit-break-after: page;
	-ms-break-after: page;
	break-after: page;
}

.test7 {
	-webkit-break-after: column;
	-ms-break-after: column;
	break-after: column;
}

.test8 {
	-webkit-break-after: region ;
	-ms-break-after: region ;
	break-after: region ;
}

.test9 {
	-webkit-break-after: avoid-page;
	-ms-break-after: avoid-page;
	break-after: avoid-page;
}

.test10 {
	-webkit-break-after: avoid-column;
	-ms-break-after: avoid-column;
	break-after: avoid-column;
}

.test11 {
	-webkit-break-after: avoid-region;
	-ms-break-after: avoid-region;
	break-after: avoid-region;
}