.test1 {
	height: 10vh;
	height: 20vw;
	height: 30vmax;
	height: 40vmin;
}

.test2 {
	height: -webkit-calc(100% - 20px);
	height: -moz-calc(100% - 20px);
	height: calc(100% - 20px);
}

.test3 {
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
}

.test4 {
	height: -moz-fill-available;
	height: -webkit-fill-available;
	height: fill-available;
}

.test5 {
	height: -moz-min-content;
	height: -webkit-min-content;
	height: min-content;
}

.test6 {
	height: -moz-max-content;
	height: -webkit-max-content;
	height: max-content;
}