.test1 {
	margin-top: 10vh;
	margin-top: 20vw;
	margin-top: 30vmax;
	margin-top: 40vmin;
}

.test2 {
	margin-top: -webkit-calc(100% - 20px);
	margin-top: -moz-calc(100% - 20px);
	margin-top: calc(100% - 20px);
}