.test1 {
	margin-bottom: 10vh;
	margin-bottom: 20vw;
	margin-bottom: 30vmax;
	margin-bottom: 40vmin;
}

.test2 {
	margin-bottom: -webkit-calc(100% - 20px);
	margin-bottom: -moz-calc(100% - 20px);
	margin-bottom: calc(100% - 20px);
}