.test1 {
	margin-left: 10vh;
	margin-left: 20vw;
	margin-left: 30vmax;
	margin-left: 40vmin;
}

.test2 {
	margin-left: -webkit-calc(100% - 20px);
	margin-left: -moz-calc(100% - 20px);
	margin-left: calc(100% - 20px);
}