.test1 {
	-o-object-fit: fill;
	object-fit: fill;
}

.test2 {
	-o-object-fit: contain;
	object-fit: contain;
}

.test3 {
	-o-object-fit: cover;
	object-fit: cover;
}

.test4 {
	-o-object-fit: none;
	object-fit: none;
}

.test5 {
	-o-object-fit: scale-down;
	object-fit: scale-down;
}