.test1 {
	padding-top: 10vh;
	padding-top: 20vw;
	padding-top: 30vmax;
	padding-top: 40vmin;
}

.test2 {
	padding-top: -webkit-calc(100% - 20px);
	padding-top: -moz-calc(100% - 20px);
	padding-top: calc(100% - 20px);
}