.test1 {
	padding-left: 10vh;
	padding-left: 20vw;
	padding-left: 30vmax;
	padding-left: 40vmin;
}

.test2 {
	padding-left: -webkit-calc(100% - 20px);
	padding-left: -moz-calc(100% - 20px);
	padding-left: calc(100% - 20px);
}