.test1 {
	-webkit-perspective: 20vh;
	-moz-perspective: 20vw;
	perspective: 20vmin;
	perspective: 20vmax;
}

.test2 {
	-webkit-perspective: -webkit-calc(100% - 20px);
	-moz-perspective: -moz-calc(100% - 20px);
	perspective: calc(100% - 20px);
}