.test1 {
	width: 10vh;
	width: 20vw;
	width: 30vmax;
	width: 40vmin;
}

.test2 {
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: calc(100% - 20px);
}

.test3 {
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

.test4 {
	width: -moz-fill-available;
	width: -webkit-fill-available;
	width: fill-available;
}

.test5 {
	width: -moz-min-content;
	width: -webkit-min-content;
	width: min-content;
}

.test6 {
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
}